@use "../tools/media" as mq;

.dom-lenta-super-format-operator {
  margin-bottom: 15rem;

  @include mq.down(sm) {
    margin-bottom: 5rem;
  }
}

.dom-lenta-super-format-operator__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--dom-lenta-dark-blue-color);

  @include mq.down(sm) {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.dom-lenta-super-format-operator__title {
  width: 76.9rem;
  color: var(--dom-lenta-orange-color);
  font-size: 7rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  @include mq.down(sm) {
    width: 100%;
    font-size: 3.3rem;
  }
}

.dom-lenta-super-format-operator__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 54.2rem;

  @include mq.down(sm) {
    gap: 2.5rem;
    width: 100%;
  }
}

.dom-lenta-super-format-operator__description {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;

  @include mq.down(sm) {
    width: 28.3rem;
    font-size: 1.6rem;
  }
}

.dom-lenta-super-format-operator__description p + p {
  margin-top: 2.6rem;

  @include mq.down(sm) {
    margin-top: 1.8rem;
  }
}

a.dom-lenta-super-format-operator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 7.4rem;
  padding: 2.3rem 2rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--dom-lenta-dark-blue-color);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  @include mq.down(sm) {
    min-height: 5.8rem;
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .dom-lenta-super-format-operator__button:hover {
    background-color: #14234a;
  }
}
