@use "../tools/media" as mq;

.dom-lenta-super-format-campaign {
  margin-bottom: 15rem;

  @include mq.down(sm) {
    margin-bottom: 5rem;
  }
}

.dom-lenta-super-format-campaign__title {
  text-wrap: balance;
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: var(--dom-lenta-dark-blue-color);

  @include mq.down(sm) {
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
  }
}

.dom-lenta-super-format-campaign__body {
  display: grid;
  grid-template-columns: 42.8rem minmax(0, 1fr);
  gap: 5rem;
  align-items: stretch;

  @include mq.down(sm) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.dom-lenta-super-format-campaign__side {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mq.down(sm) {
    order: 2;
    gap: 0.5rem;
  }
}

.dom-lenta-super-format-campaign__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
  flex-grow: 1;
  counter-reset: dom-lenta-super-format-campaign-item;

  @include mq.down(sm) {
    grid-auto-rows: auto;
    gap: 0.5rem;
  }
}

.dom-lenta-super-format-campaign__item {
  counter-increment: dom-lenta-super-format-campaign-item;
  display: grid;
  grid-template-columns: 4.8rem minmax(0, 1fr);
  column-gap: 4rem;
  align-items: start;

  padding: 2.85rem 4rem 2.6rem 5.8rem;
  border-radius: 2rem;
  background-color: rgba(8, 18, 44, 0.05);
  color: var(--dom-lenta-dark-blue-color);

  @include mq.down(sm) {
    grid-template-columns: 2.3rem minmax(0, 1fr);
    column-gap: 4.8rem;
    padding: 2rem 2rem 2rem 4.8rem;
    color: #000;
  }

  &::before {
    content: counter(dom-lenta-super-format-campaign-item, decimal-leading-zero)
      "/";
    margin-top: 0.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(8, 18, 44, 0.25);
    white-space: nowrap;

    @include mq.down(sm) {
      margin-top: 0;
      font-size: 1.8rem;
      line-height: 1.1;
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

.dom-lenta-super-format-campaign__item-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;

  @include mq.down(sm) {
    font-size: 1.8rem;
  }
}

.dom-lenta-super-format-campaign__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  padding: 2.3rem 3rem;
  border-radius: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--dom-lenta-dark-blue-color);

  @include mq.down(sm) {
    padding: 2.1rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #394156;
    }
  }
}

.dom-lenta-super-format-campaign__slider {
  position: relative;
  isolation: isolate;
  width: 100%;
  min-width: 0;
  aspect-ratio: 862 / 675;
  overflow: clip;
  border-radius: 3.5rem;
  background-color: #4c4c4c;

  @include mq.down(sm) {
    order: 1;
    aspect-ratio: 337 / 180;
    border-radius: 1.5rem;
  }
}

.dom-lenta-super-format-campaign__wrapper,
.dom-lenta-super-format-campaign__slide {
  height: 100%;
}

.dom-lenta-super-format-campaign__slide {
  position: relative;
  overflow: clip;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 60%), rgb(0 0 0 / 0%));
    aspect-ratio: 16 / 9;

    @include mq.down(sm) {
      background: linear-gradient(to top, rgb(0 0 0 / 80%), rgb(0 0 0 / 0%));
      aspect-ratio: 16 / 5;
    }
  }
}

.dom-lenta-super-format-campaign__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  user-select: none;
}

.dom-lenta-super-format-campaign__slide-title {
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: 5.2rem;
  z-index: 2;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;

  @include mq.down(sm) {
    left: 1.5rem;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 1.6rem;
  }
}

.dom-lenta-super-format-campaign__slider.swiper-horizontal
  > .dom-lenta-super-format-campaign__pagination.swiper-pagination-bullets,
.dom-lenta-super-format-campaign__slider
  .dom-lenta-super-format-campaign__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  left: 4rem;
  right: 4rem;
  top: auto;
  bottom: 3rem;
  z-index: 2;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: auto;
  transform: none;

  @include mq.down(sm) {
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1rem;
    gap: 0.5rem;
  }
}

.dom-lenta-super-format-campaign__slider.swiper-horizontal
  > .dom-lenta-super-format-campaign__pagination.swiper-pagination-bullets
  .swiper-pagination-bullet {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0.5rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 10rem;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;

  @include mq.down(sm) {
    min-height: 0.2rem;
  }
}

.dom-lenta-super-format-campaign__slider.swiper-horizontal
  > .dom-lenta-super-format-campaign__pagination.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  opacity: 1;
}
