@layer layout {
  .dom-lenta-footer {
    margin-top: auto;
    color: #f8f8f8;
    background-color: var(--dom-lenta-dark-blue-color);
  }

  .dom-lenta-footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding-top: 6.7rem;
    padding-bottom: 7.4rem;
  }

  .dom-lenta-footer__navigation {
    display: flex;
    gap: 7.7rem;
  }

  .dom-lenta-footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
  }

  .dom-lenta-footer__nav-link,
  .dom-lenta-footer__phone,
  .dom-lenta-footer__copyright {
    font-size: 2.05rem;
    font-weight: 400;
    line-height: 1;
  }

  .dom-lenta-footer__nav-link,
  .dom-lenta-footer__phone,
  .dom-lenta-footer__social-link {
    color: inherit;
    text-decoration: none;
  }

  .dom-lenta-footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.2rem;
  }

  .dom-lenta-footer__socials {
    display: flex;
    align-items: center;
    gap: 1.3rem;
  }

  .dom-lenta-footer__social-icon {
    display: block;
    inline-size: auto;
    block-size: 3.4rem;
    flex: none;
    fill: currentColor;
  }

  .dom-lenta-footer__nav-link:hover,
  .dom-lenta-footer__phone:hover,
  .dom-lenta-footer__social-link:hover {
    color: var(--dom-lenta-orange-color);
  }
}
