<section class="dom-lenta-hero">
  <div class="dom-lenta-container">
    <div class="dom-lenta-hero__inner">
      <div class="dom-lenta-hero__background">
        <picture>
          <source media="(max-width: 576px)" srcset="/images/dom-lenta-hero/background-mobile.webp" />
          <img class="dom-lenta-hero__background-image" src="/images/dom-lenta-hero/background.webp" alt="" width="3040"
            height="1568" loading="eager" fetchpriority="high" decoding="async" />
        </picture>
      </div>


      <div class="dom-lenta-hero__content">
        <h1 class="dom-lenta-hero__title">{{{hero.titleHtml}}}</h1>
        <p class="dom-lenta-hero__description">{{hero.description}}</p>
        <p class="dom-lenta-hero__note">{{hero.note}}</p>
        <a href="#" class="dom-lenta-hero__button" type="button">
          {{hero.buttonText}}
        </a>
      </div>
    </div>
  </div>
</section>