<section class="dom-lenta-super-format-request">
  <div class="dom-lenta-super-format-request__inner">
    <picture class="dom-lenta-super-format-request__picture">
      {{#if superFormatRequest.image.mobileSrc}}
      <source media="(max-width: 576px)" srcset="{{superFormatRequest.image.mobileSrc}}" />
      {{/if}}
      <img class="dom-lenta-super-format-request__image" src="{{superFormatRequest.image.src}}"
        alt="{{superFormatRequest.image.alt}}" width="2880" height="832" loading="lazy" decoding="async" />
    </picture>

    <form class="dom-lenta-super-format-request__form js-form" action="{{superFormatRequest.formAction}}" method="post"
      aria-label="{{superFormatRequest.formAriaLabel}}">
      <div class="dom-lenta-super-format-request__fields">
        <div class="dom-lenta-super-format-request__field">
          <div class="dom-lenta-super-format-request__field-wrap">
            <input class="dom-lenta-super-format-request__input" type="text" name="name"
              placeholder="{{superFormatRequest.namePlaceholder}}" autocomplete="name" required />
          </div>
        </div>

        <div class="dom-lenta-super-format-request__field">
          <div class="dom-lenta-super-format-request__field-wrap">
            <input class="dom-lenta-super-format-request__input" type="tel" name="phone"
              placeholder="{{superFormatRequest.phonePlaceholder}}" autocomplete="tel" required />
          </div>
        </div>
      </div>

      <button class="dom-lenta-super-format-request__submit" type="submit">
        {{superFormatRequest.buttonText}}
      </button>
    </form>

    <button class="dom-lenta-super-format-request__submit dom-lenta-super-format-request__submit--mobile" type="button">
      {{superFormatRequest.buttonText}}
    </button>
  </div>
</section>
