<section class="dom-lenta-super-format-product">
  <div class="dom-lenta-container">
    <div class="dom-lenta-super-format-product__inner">
      <p class="dom-lenta-super-format-product__label">{{superFormatProduct.label}}</p>

      <div class="dom-lenta-super-format-product__content">
        <h2 class="dom-lenta-super-format-product__title">{{{superFormatProduct.titleHtml}}}</h2>
        <p class="dom-lenta-super-format-product__description">{{superFormatProduct.description}}</p>
      </div>
    </div>
  </div>
</section>
