<section class="dom-lenta-super-format-operator">
  <div class="dom-lenta-container">
    <div class="dom-lenta-super-format-operator__inner">
      <h2 class="dom-lenta-super-format-operator__title">{{{superFormatOperator.titleHtml}}}</h2>

      <div class="dom-lenta-super-format-operator__content">
        <div class="dom-lenta-super-format-operator__description">
          {{{superFormatOperator.descriptionHtml}}}
        </div>

        <button class="dom-lenta-super-format-operator__button" type="button">
          {{superFormatOperator.buttonText}}
        </button>
      </div>
    </div>
  </div>
</section>
